@font-face {
    font-family: norseBold;
    src: url(Norse-Bold.otf);
}

:root {
    --left-spacing: 3rem;
    --right-spacing: 20rem;
    --vertical-spacing: 9rem;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    display: flex;
}

.image-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("./leaves.jpg");
    background-size: cover;
    width: 30vw;
    height: 100vh;
    color: rgb(255,255,255);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: norseBold , 'Times New Roman', Times, serif;
    font-size: 5rem;
    background-color: rgba(0,0,0,0.4);
}

.banner-odin {
    height: 120px;
}

.credit {
    display: flex;
    justify-content: center;
    position: relative;
    top: 11rem;
}

.credit a {
    color: rgb(255,255,255);
}

.text-area {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: var(--vertical-spacing);
    margin-bottom: var(--vertical-spacing-2rem);
}

.text-area p,
.input-area form, 
button,
.input-area > div {
    margin-left: var(--left-spacing);
    margin-right: var(--right-spacing);
}

.text-area p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
}

.input-area,
button {
    margin-bottom: 30px;
}

.input-area, button, input:focus {
    box-shadow: 0 3px 5px 0px rgba(0,0,0,0.4);
}

.input-area {
    padding: 30px 0;
    margin-top: 40px;
}

input, label {
    display: block;
}

label, div[data-error] {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

input {
    font-size: 1rem;
    padding: 6px;
    border: 1px solid rgb(180,180,180);
    border-radius: 6px;
    background-color: rgb(254,254,254);
}

input:focus, input:invalid {
    background-color: white;
}

input:focus {
    outline: 1px solid rgb(51,51,255);
}

input:invalid {
    outline: 1px solid rgb(255,51,51);
}

.password-check::after {
    content: attr(data-error);
    color: rgb(255,51,51);
}

.input-area > div {
    display: flex;
    gap: 70px;
    margin-top: 30px;
}

button {
    color: rgb(255,255,255);
    background-color: rgba(89,109,72,255);
    font-weight: bold;
    border: 0;
    border-radius: 7px;
    padding: 15px 55px;
}

.text-area .login-text, button {
    font-size: 1rem;
}

.login-text a {
    text-decoration: none;
    color: green;
}