@font-face {
    font-family: norseBold;
    src: url(Norse-Bold.otf);
}

:root {
    --left-spacing: 3rem;
    --right-spacing: 20rem;
    --vertical-spacing: 9rem;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    display: flex;
}

.image-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("./leaves.jpg");
    background-size: cover;
    width: 30vw;
    height: 100vh;
    color: rgb(255,255,255);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: norseBold;
    font-size: 5rem;
    background-color: rgba(0,0,0,0.4);
}

.banner-odin {
    height: 120px;
}

.credit {
    display: flex;
    justify-content: center;
    position: relative;
    top: 11rem;
}

.credit a {
    color: rgb(255,255,255);
}

.text-area {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: var(--vertical-spacing);
    margin-bottom: var(--vertical-spacing);
}

.text-area p,
.input-area form {
    margin-left: var(--left-spacing);
    margin-right: var(--right-spacing);
}

.text-area p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.input-area {
    box-shadow: 0 3px 5px 0px rgba(0,0,0,0.4);
}